@media only screen and (max-width: 500px) {
  .slideStyle {
    width: 100vw !important ;
    margin-top: 30px !important;
    height: 45vh !important;
  }

  .rightArrow {
    left: 90% !important;
    top: 80% !important;
  }
  .leftArrow {
    left: 85% !important;
    top: 80% !important;
  }
}
