.trendDescription {
  text-align: center;
  position: relative;
}

.trendDescription h1 {
  font-family: "Playfair Display";
  font-weight: lighter;
  letter-spacing: 4px;
  margin-top: 100px;
}

.trendDescription h3 {
  font-family: "EB Garamond";
  font-weight: lighter;
  margin-bottom: 50px;
  position: relative;
}

.trendDescription h1:before {
  content: "";
  display: block;
  width: 300px;
  height: 0.1px;
  background: rgb(81, 81, 81);
  left: 250px;
  top: 28px;
  position: absolute;
}

.trendDescription h1:after {
  content: "";
  display: block;
  width: 300px;
  height: 0.1px;
  background: rgb(81, 81, 81);
  left: 980px;
  top: 28px;
  position: absolute;
}

.trendingProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .trendDescription h1:after {
    display: none;
  }
  .trendDescription h1:before {
    display: none;
  }

  .trendingProductsList {
    align-items: center;
  }
}
