.wishlistStyle {
  width: 100vw;
}

.picture {
  width: 100vw;
  height: 50vh;
  position: relative;
}

.picture img {
  width: 100vw;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 20px;
}

.picture h1 {
  position: absolute;
  top: 40%;
  left: 42vw;
  font-size: 50px;
  letter-spacing: 10px;
  font-family: "EB Garamond";
}

@media only screen and (max-width: 500px) {
  .picture h1 {
    font-size: 20px;
  }

  .picture img {
    height: 40vh;
    margin-top: 30px;
  }
}
